<div class="container">

	<h1>New Collection</h1>

	<%= render 'form' %>

	<p class="col-sm-12">
		<%= link_to collections_path, class: "" do %>
			<i class="glyphicon glyphicon-hand-left"></i> Back
		<% end %>
		<br /><br />
	</p>
</div>
