<div class="row">
  <h1>Willow Bride Admin</h2>
  <ul class="list-group">
    <li class="list-group-item"><%= link_to 'View Stores', stores_path %></li>
    <li class="list-group-item"><%= link_to 'View Designers', designers_path %></li>
    <li class="list-group-item"><%= link_to 'View Dresses', dresses_path %></li>
  </ul>
</div>
