<div class="container">

	<h1>Editing Designer</h1>

	<%= render 'form' %>

	<p>
		<%= link_to designers_path, class: "" do %>
			<i class="glyphicon glyphicon-hand-left"></i> Back
		<% end %> &nbsp;|&nbsp;
    <%= link_to @designer, class: "" do %>
			Show <i class="glyphicon glyphicon-star"></i>
		<% end %>
	</p>

</div>
