<div class="row">
	<div class="col-xs-12 header">

		<%= link_to(root_path) do %>
			<%= image_tag("willow_bride_logo.png", :alt => "Willow Bride", :width => "363", :height => "70", :class => "logo") %>
		<% end %>	
	</div>
</div>
