<div class="container">

	<%= render partial: "nav" %>

	<div class="row">
		<div class="col-xs-12">
			<h1 class="city-title">COMING SOON...</h1>
		</div>
	</div>
</div>

<%= render partial: "footer" %>
