/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery.mmenu
 *= require font-awesome
 *= require rails_bootstrap_forms
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-wysihtml5/bootstrap3-wysihtml5";

$sans-font: "brandon-grotesque", sans-serif;
$serif-font: "garamond-premier-pro-display", sans-serif;
$gold: #D1A66C;
$blackish: #565656;
$grey: #F7F7F7;
$lightgrey: #949DA3;
$h1-font-size: 1.15em;
$h1-letter-sp: .2em;

.wf-loading {        
  /* styles to use when web fonts are loading */  
  opacity: 0;
}  

.wf-active {        
  /* styles to use when web fonts are active */  
  animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
}   


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes pulse {
  0% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pulse-background {
  0% {
    background-color: #f7f7f7;
  }
  100% {
    background-color: #fdfdfd;
  }
}

/** bootstrap overrides **/
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	padding-left: 30px !important;
	padding-right: 30px !important;
}

.form-control {
	border-radius: 0 !important;
}

.container {
	width: 99% !important;
}

// .page-container {
// 	position: relative;
// 	min-height: 100%;
// 	padding-bottom: 400px;
// }

html, 
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	font-family: $serif-font;
	color: $blackish;
	font-size: 1.5em;
	letter-spacing: .1em;
}

img {
	width: 100%;
	height: auto;
	animation: fadein 1s;
}

a, a:hover, a:visited, a:focus {
	color: $gold;
	background: none;
}

a:hover {
	text-decoration: underline;
}

p {
	font-size: .75em;
}

.row {
	margin: 4em;
}

.row.no-bottom {
	margin: 4em 0 0 0;
}

.btn {
	text-transform: uppercase;
	font-family: $sans-font;
	letter-spacing: $h1-letter-sp;
	font-size: $h1-font-size;
	border: 2px solid $gold;
	padding: 1.5em 1.75em;
	background-color: transparent;

	-webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;

  transition: all .5s;
  outline: none !important;
}

.btn:hover, .btn:focus {
  background-color: $gold;
  color: $grey;
}

.header {
	text-align: center;
	margin: 0em auto;
	position: relative;
	display: flex;
	justify-content: center;

	> a {
		margin: 0px auto;
	}

	.logo {
		max-width: 363px;
		animation: pulse 1s;
		align-items: center;
		height: 100%;
	}

	.menu {
		align-self: flex-start;
		position: absolute;
	}

	.menu img {
		max-width: 45px;
	}
}

.first {
	animation: fadein 1s;
}

.second {
	animation: fadein 3s;
}

.third {
	animation: fadein 5s;
}

.city-title {
	text-transform: uppercase;
	display: block;
	text-align: center;
	margin: 1em auto .5em;
	line-height: 1.5em;

	font-family: $sans-font;
	letter-spacing: $h1-letter-sp;
	font-size: $h1-font-size;
	color: $blackish !important;
}

.left-title {
	text-transform: uppercase;
	display: block;
	text-align: left;
	margin: 1em auto .5em;
	line-height: 1.5em;

	font-family: $sans-font;
	letter-spacing: $h1-letter-sp;
	font-size: $h1-font-size;
	color: $blackish !important;
}

a.city-title:hover {
	text-decoration: none;
}

.get-started {
	display: block;
	text-align: center;
	padding-top: .5em;
}




.mm-menu {
	background: #fff !important;
}

.mm-listview > li {
	padding: 2em 0 !important;

	a, a:hover, a:visited {
		color: $gold !important;
		background: none;
		transition: all .5s;
	}

	a:hover {
		color: $blackish !important;
	}
}



.location-info {
	animation: fadein 1s;
	text-align: center;
	h3 {
		margin-bottom: 1.5em;
	}
	p {
		font-family: $serif-font;
		line-height: 2em;
		padding: 0 1em;
		font-size: $h1-font-size;
	}
	
}

.appointment-info {
	padding: 2.5em 2.5em 1.5em;
	text-align: center;
	background-color: $grey;
	text-transform: uppercase;
	font-size: 1em;

	h3 {
		font-size: $h1-font-size;
		line-height: 1.75em;
		letter-spacing: .1em;
		margin-top: 10px;
	}

	.btn {
		margin: 1.5em auto;
	}
}

.experience,
.dresses {
	overflow: hidden;

	.label-holder {
		width: 100%;
		background-color: $grey;
		display: flex;
		align-items: center;
		justify-content: flex-end;

	}

	h2 {
		padding: 2em 0 2em 2em;
		margin: 0 auto 0 0;

		font-family: $sans-font;
		letter-spacing: $h1-letter-sp;
		font-size: $h1-font-size;
		line-height: 1.45em;
		text-transform: uppercase;
		display: inline-block;
		align-self: flex-start;
		color: $blackish;
	}

	h2:hover {
		color: $gold;
		text-decoration: none;
	}

	span.arrow-a {
    height: 100%;
    min-height: 60px;
    min-width: 60px;
		overflow: hidden;
		padding-top: 1.25em;
		margin-right: 1.5em;
		
		align-self: center;
	}

	.arrow-circle {
			align-self: center;
			justify-content: flex-end;
	    border-radius: 50%;

	    padding: 13px 12px 8px 12px;

	    background: $grey;
	    border: 2px solid $gold;
	    text-align: center;

	    font: 22px Arial, sans-serif;
	}

	.arrow {
		color: $gold;
	}

	p {
		font-family: $serif-font;
		line-height: 2em;
		padding: 1em 2em 0 0;
		font-size: 1.15em;
		animation: fadein 1s;

	}

	.experience-img {
		padding-top: 2em;
	}
}


.designers {
	.designer {
		color: $blackish;
		text-transform: uppercase;
		display: block;
		text-align: center;
		padding: .5em 0;
		font-family: $sans-font;
	}

	.coming-soon {
		color: $gold;
		text-transform: uppercase;
		text-align: center; 
		padding: 6em 0 0 0;
		font-size: 1em;
	}
}


.footer {
	text-align: center;
	.sm_logo {
		max-width: 200px;
	}

	.footer-header {
		padding: 2em;
		border-bottom: 1px solid $grey;
	}
	.hours {
		margin: 0px auto;
		text-align: center;
		line-height: 2em;
	}

	h4 {
		color: $lightgrey;
		letter-spacing: .1em;
		margin-top: 2em;
	}

	.email {
		text-transform: uppercase;
		letter-spacing: .1em;
		font-family: $sans-font;
		font-size: $h1-font-size;
	}

	p {
		font-family: $sans-font;
		text-transform: uppercase;
		font-size: .75em;
	}

	.fa-instagram, .fa-facebook, .fa-twitter, .fa-pinterest {
    margin: 0 .25em .5em;
    padding-left: .15em;
    height: 30px;
    width: 30px;
    line-height: 30px;

    -moz-border-radius: 15px; /* or 50% */
    border-radius: 15px; /* or 50% */

    background-color: $lightgrey;
    color: white;
    text-align: center;
    font-size: .95em;

    &:hover {
    	opacity: .5;
    	transition: .5s opacity;
    }
	}

	.col-sm-4 {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
}

#footer-bottom {
	// position: absolute;
	// bottom: 0;
	width:100%;
  height:auto;
  overflow: hidden;
  font-size: .75em;
}

.other-stores {
	margin: 0px !important;
	background-color: $grey;
	border-top: 1px solid #D0D0D0;
	border-bottom: 1px solid #D0D0D0;
	text-align: center;

	.city-title {
		color: $lightgrey !important;
	}

	div:first-child {
		border-right: 1px solid #D0D0D0;
	}

	div {
		padding: 3em 0;
	}

	.col-xs-6:hover {
		animation: pulse-background .5s forwards;
	}
}

.bottom-nav {
	background-color: $grey;
	margin: 0 !important;
	padding: 4em;
	font-size: .85em;

	li {
		list-style-type: none;

		a {
			color: $lightgrey !important;
		}
	}
}

.hidden { display: none; }

.contact-form {
	margin: 0px auto;
	text-align: center;
	max-width: 600px;
	float: none !important;

	.label {
	  text-transform: uppercase;
    display: block;
    text-align: center;
    margin: .5em 0;
    font-family: "brandon-grotesque", sans-serif;
    letter-spacing: $h1-letter-sp;
    font-size: $h1-font-size;
    color: #565656 !important;
	}

	.submit-holder {
		padding-left: 23px !important;
		padding-right: 15px !important;

		.submit {
			width: 100%;
		}
	}
}

@media (max-width: 1070px) {
	.experience h2, 
	.dresses h2 {
		font-size: 1em;
		max-width: 190px;
	}
}

@media (max-width: 850px) and (min-width: 768px) {
	.experience h2, 
	.dresses h2 {
		font-size: .75em;
		max-width: 140px;
	}
}

@media (max-width: 768px) {
	.row {
    margin: 2em 0;
	}
	.location-info h3 {
    margin-top: 1.5em;
	}
	.experience,
	.dresses {
		padding-bottom: 2em;

		h2 {
			font-size: .95em !important;
		}
	}

	.experience p {
		padding-right: 0em !important;
	}
}

@media (max-width: 414px) {
	.col-xs-12 {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.get-started {
		margin-bottom: 1em;
	}
	.contact-form .label {
		font-size: .85em;
	}
	.experience,
	.dresses {
		h2 {
			font-size: $h1-font-size !important;
			max-width: 100%;
		}
	}

	.header {
		.menu {
			margin-bottom: 2em;
	    margin-top: -1.5em;
		}

		.menu img {
			max-width: 35px;
		}
	}
}

@media (max-width: 320px) {
	.contact-form .label {
		font-size: .75em;
	}
	.city-title {
		letter-spacing: .1em;
    font-size: 1em;
	}
	.btn {
		font-size: .95em;
	}
}

@media (max-height: 850px) {
	.home-img-container {
		max-height: 60vh;
		overflow: hidden;
	}
}
