
.reveal {
  opacity: 0;
}
 
.come-in {
  opacity: 0;
  animation: come-in 2s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 3s;
}
.already-visible {
  opacity: 1 !important;
  animation: none;
}

@keyframes come-in {
  to { opacity: 1; }
}