<div class="container">
	<h1>Editing Dress Image</h1>

	<%= render 'form' %>
	
	<p>
		<%= link_to dress_images_path, class: "" do %>
			<i class="glyphicon glyphicon-hand-left"></i> Back
		<% end %> &nbsp;|&nbsp;
    <%= link_to @dress_image, class: "" do %>
			Show <i class="glyphicon glyphicon-star"></i>
		<% end %>
	</p>
</div>
